src/kestra/first/_flow/add-user-ansible-on-pver.yml
id: subflow-teste
namespace: company.team

variables:
  pveHost: 192.168.1.99
  user: ansible
  sshPass: 123

tasks:

  # - id: keyGen
  #   type: io.kestra.core.tasks.flows.Subflow
  #   namespace: company.team
  #   flowId: ssh-keygen
  #   inputs:
  #     password: "{{ vars.sshPass }}"
  #   wait: true
  #   transmitFailed: true

  # - id: log
  #   type: io.kestra.core.tasks.log.Log
  #   message: "{{ outputs.keyGen }}"

  - id: setup
    type: io.kestra.core.tasks.flows.WorkingDirectory
    tasks:

      - id: local_files
        type: io.kestra.core.tasks.storages.LocalFiles
        inputs:
          ansible.cfg: |
            [defaults]
            interpreter_python=auto_silent
            host_key_checking=False
            vault_password_file=/opt/ansible/files/vaultkey
            inventory=/opt/ansible/kestra.ini
            private_key_file=.ssh/ansible-key
          .ssh/ansible-key: |
            -----BEGIN OPENSSH PRIVATE KEY-----
            b3BlbnNzaC1rZXktdjEAAAAACmFlczI1Ni1jdHIAAAAGYmNyeXB0AAAAGAAAABB0blGWsFsra0tM
            gR/0K2dTAAAAEAAAAAEAAAAzAAAAC3NzaC1lZDI1NTE5AAAAIJU68noQrRkIpxq+Z5BKrUt49EUi
            vHmpox75f0a5LYkSAAAAkM/8ScVSWA2Ys9aSFGqrT+0f29C3ZxP/9WYdICKFvob90mHBHbhIgLQu
            aI75Fr3PiUinCr9SKT7Zv7CcU5SFjbwJrHB5+Nzzojd9OWDRxqdH+nYSVFsEP00MYfwo0l4mbfip
            Fp86OUf0PCaBTSbNbvOcTRuoEoa/jgnVzVrHVovGLbmJys46GfF8WO5kenpXvA==
            -----END OPENSSH PRIVATE KEY-----
          files/vaultkey: |
            mysecret
          group_vars/pve/vault: |
            $ANSIBLE_VAULT;1.1;AES256
            37363537303965666166396235333837616239316133303666343036333737333035343839613736
            3039393163646165326139343062363335663862333037340a653838343862646566656439366466
            32353464346366643161373235323861353564343435633335663330323562656534653732373666
            6665393930396233620a373363323032633863663032303436303338643062633731656132346239
            62346166653431663962343934613465343164633931336136393833653865376433633962366433
            3163333132316433303463303737616165323466623535616237
          files/sudoer_ansible: |
            ansible ALL=(ALL) NOPASSWD: ALL
          kestra.ini: |
            [pve]
            {{ vars.pveHost }}
          kestrabook.yml: |
            ---
            - hosts: pve
              tasks:

              - debug:
                  msg: "entrei"

              # - name: install sudo package
              #   apt:
              #     name: sudo
              #     update_cache: yes
              #     cache_valid_time: 3600
              #     state: latest

              # - name: create user on pve
              #   user:
              #     name: {{ vars.user }}
              #     shell: '/bin/bash'

              # - name: add user ssh key
              #   authorized_key:
              #     user: {{ vars.user }}
              #     key:  {{ outputs.keyGen.outputs.value['ssh-key.pub'] ?? '' }}

              # - name: add user to sudoers
              #   copy:
              #     src: sudoer_{{ vars.user }}
              #     dest: /etc/sudoers.d/{{ vars.user }}
              #     owner: root
              #     group: root
              #     mode: 0440

      - id: ansible_task
        type: io.kestra.plugin.ansible.cli.AnsibleCLI
        docker:
          image: cytopia/ansible:latest-tools
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
        commands:
          - chmod 600 files/vaultkey
          - apk update
          - apk add --update sshpass
          - cp -R . /opt/ansible/
          - cd /opt/ansible
          - cat kestrabook.yml
          - ansible pve -m ping
          # - ansible-playbook -i kestra.ini kestrabook.yml


  # - id: if
  #   type: io.kestra.core.tasks.flows.If
  #   condition: "{{inputs.customInput ?? false }}"
  #   then:
  #     - id: if_not_null
  #       type: io.kestra.core.tasks.log.Log
  #       message: Received input {{inputs.parameter}}
  #   else:
  #     - id: if_null
  #       type: io.kestra.core.tasks.log.Log
  #       message: No input provided
